    body{
      font-family: verdana, sans-serif;
      background-color: #AED6CF;
      align-items: center;
    }
    /* Page one styles yooooo */
		.grid-container{
			display: grid;
			grid-template-rows: 150px 90px;
      grid-template-columns: 490px 495px;
      background-color: #91ADC8;
      border: solid 1px;
		}
		.first {
			grid-column: span 3;
			background-color: #647FBC;
			padding: 10px;
      border: solid 1px;
      text-align: center;
		}
		.card {
			background-color: #91ADC8;
			padding: 30px;
      text-align: center;
		}
    .home{
      text-align: center;
    }
    .About{
      text-align: center;
    }
    .Names{
      text-align: center;
    }
    .characters{
      text-align: center;
      padding: 30px;
    }
    .secret{
      text-align: center;
      padding: 30px;
    }

    .flexbox-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
    }
    .flexcard{
      padding: 30px;
    }
    table{
      border: solid;
      padding: 10px;
      background-color: #6DC3BB;
      align-content: center;
    }
    th{
      border: solid 1px;
      background-color: #739EC9;
    }
    td{
      border: solid 1px;
      background-color: #739EC9;
    }
    .Big-One{
      font-size: 40px;
      text-align: center;
    }
    footer {
      color:: #91ADC8;
      background-color: #91ADC8;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    ul{
      margin-bottom: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
    li{
      padding: 0 15px;
      margin-bottom: 15px;
    }
	

  /*this is page two styles*/

  .gamemechanics{
      text-align: center;
      padding: 30px;
  }
  .card{
    width: 18rem;
  }
  .justpadding{
    padding: 10px;
  }
  .gridding{
    display: grid;
    grid-template-rows: repeat(3, 1fr) ;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 40px;
    width: 300px;
  }
  .boxy{
    border: solid 3px;
    background-color: #91ADC8;
    height: 370px;
  }

  .alltext{
    text-align: center;
  }

  .allvideos{
    width: 410px;
    align-content: center;
  }
  .allvideosspecial{
    width: 410px;
    height: 307px;
    align-content: center;
  }

  /* Page three styles FINALLY FAHHHHHHHHH */

  .creators{
    text-align: center;
    padding: 30px;
  }

  .developers{
    display: grid;
    grid-template-rows: repeat(1, 1fr) ;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 50px;
  }
  .devgrid{
    border: solid 3px;
    background-color: #91ADC8;
    height: 370px;
    width: 400px;
    align-content: center;
  }

  .santino{
    width: 400px;
    height: 250px;
  }
  .Lordheaven{
    width: 250px;
    height: 250px;
    padding-left: 75px;

  }
  .derek{
    width: 250px;
    height: 250px;
    padding-left: 75px;
  }

/* DEREK TAKE NOTE OF THIS PEAK TIP */
  .contact-box {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin:50px auto ;
}

  .Contact {
    text-align: center;
    margin-bottom: 15px;
}

  input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

  textarea {
    resize: none;
    height: 100px;
}

  button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

  button:hover {
    background: #45a049;
}

  @media (max-width: 500px) {
    .contact-box {
    padding: 15px;
}
}